/* Import all the styles from the other components */
@import url(./footer/index.css);
@import url(./header/index.css);
@import url(./diary-heading/index.css);
@import url(./diary-card/index.css);
@import url(./diary-modal/index.css);
@import url(./diary-form/index.css);
@import url(./diary-manual/index.css);
@import url(./diary-confirm-delete-modal/index.css);

/* Define the variables for colors and other design elements */
:root {
  --primary: #060B13;
  --secondary: #137674;

  --dark2: #1F2A37;
  --dark3: #374151;
  --dark4: #4B5563;
  --dark5: #6B7280;

  --white: #FFFFFF;

  --teal: #06A09B;
  --teal-light: #C2F5E9;

  --red: #E2111C;

  --gray1: #F9FAFB;
  --gray2: #E5E7EB;
  --gray3: #F3F4F6;
  --gray4: #DEE2E6;
  --gray5: #CED4DA;

  --shadow4: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --shadow5:  0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);

  --heading1: max( 2.2vw, 20px);
  --heading2: 30px;
  --heading5: 26px;

  --body-small-regular: 14px;
  --body-extra-small-regular: 12px;

}

/* Set the font family for all elements */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Set the body style, including flexbox and background image */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 100vh;
  background-image: url('../assets/images/web-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Set the style for the horizontal line */
hr {
  max-width: 1000px;
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--gray5)
}

/* Set the style for the submit and update buttons */
#update {
  display: none;
  border: none;
  grid-column: span 2;
  padding-top: 18px;
  padding-bottom: 18px;
  height: fit-content;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--secondary);
}

#submit {
  border: none;
  grid-column: span 2;
  padding-top: 18px;
  padding-bottom: 18px;
  height: fit-content;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary);
}

/* Set the style for the detail button */
#detail {
  border: none;
  border-radius: 30px;
  padding: 8px 15px 8px 15px;
  color: var(--dark5);
}

/* Set the style for the empty section */
.empty-section{
  height: 100vw;
}

/* Set the style for the submit and update buttons on small screens */
@media (min-width:200px) and (max-width:800px) {
  #submit {
    grid-column: span 12;
  }

  #update {
    grid-column: span 12;
  }
}

@media (max-width: 640px) {
  .THIS input[type="date"]:before {
      content: 'yourcontent' !important;
  }

  .THIS input[type="date"]:focus:before {
      content: '' !important;
  }

  .THIS input[type="date"] {
      display: flex;
  }
}