#diary-list {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
}

.diary-list-empty {
    background-color:var(--gray1);
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 280px;
    border-radius: 10px;
    border: solid 2px var(--gray4);
    border-style: dashed;
}

.diary-list-empty p{
    font-size: var(--body-small-regular);
    color:gray;
}

.diary-card {
    background-color: var(--white);
    padding: 14px;
    border-radius: 6px;
    border: solid 2px var(--gray3);
    grid-column: span 4;
}

.diary-card .content {
    display: flex;
    justify-content: space-between;
}

.diary-card h2 {
    color: var(--primary);
    font-size: 18px;
}

.action {
    display: flex;
    gap: 10px;
}

.action div {
    height: fit-content;
}

.content .summary :last-child {
    line-height: 0px;
    font-size: var(--body-small-regular);
}

.content-bottom {
    padding-top: 10px;
    display: flex;
    justify-content: end;
}

@media (min-width:200px) and (max-width:800px) {
    .diary-card {
        grid-column: span 12;
    }
}