.diary-manual {
    position: relative;
    height: fit-content;
  }
  
  .manual-popover {
    display: none;
  }
  
  .manual-popover-display {
    padding: 8px;
    position: absolute;
    background-color: var(--white);
    right: 0px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: var(--shadow4);
  }
  
  .manual-popover-display p {
    border: none;
    background-color: var(--white);
    color: var(--red);
  }
  