.diary-modal {
  border: none;
  width: 100%;
  padding: 0 40px 0 40px;
  overflow-x: hidden;
  max-width: 450px;
  min-height: 600px;
  border-radius: 6px;
  box-shadow:var(--shadow5);
}

.diary-modal-close{
  width: 100%;
  display: flex;
  justify-content: end;
}

.diary-modal-close button {
  border: none;
  height: fit-content;
  background-color: var(--white);
}


.diary-modal-header {
  background-color: var(--white);
  top: 0;
  width: 100%;
  position: sticky;
  height: fit-content;
  padding-top: 20px;
}

.diary-modal-header div h2{
  font-size: var(--heading5);
  width: 75%;
}



.diary-modal-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
  font-size: var( -normal-regular);
}


@media (min-width:200px) and (max-width:800px) {
  .diary-modal {
    width: 90%;
    padding: 15px;
  }
}